<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnAuthorization Access</title>
    <style>
        #center{
            text-align: center;
            }
    </style>
</head>
<body id=center>
<h1>越权</h1>
<h3>Hello {{ username }} ,<a href="/logout/">注销用户</a></h3>
<h3><a href="/main_page/">主页</a></h3>
<div style="text-align: center;">
    <h2>查看用户信息:</h2>
    {{ server_response }}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 使用form表单 -->
    <form action='/unauth_horizontal' method="get">
    <input type="hidden" value="{{ username }}" id="id" name = "id" >
    <input type="submit" value="横向越权：查看用户信息" >
    <br>
    <span>
        {{ server_response_unauth_horizontal }}
    </span>
    </form>
    <br>
    <br>
    <!-- 使用form表单 -->
    <form action='/unauth_vertical' method="get">
    <input type="hidden" value="{{ username }}" id="id" name = "id" >
    <input type="submit" value="纵向越权：查看用户信息" {{ disabled }}>
    <br>
    <span>
        {{ server_response_unauth_vertical }}
    </span>
    </form>
</div>
    {% csrf_token %}
</body>
</html>