<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xss Injection</title>
    <script src="/static/js/jquery-3.6.1.js"></script>
    <script>
    $(function () {
        $('#insert_vul').click(function () {
            let vul_name = $('#vul_name').val();
            let vul_desc = $('#vul_desc').val();
            var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                // 这里的逻辑是：inser_vul插入数据到数据库，并且查出所有数据传递给回调函数，回调函数拼装table数据并且显示
                url:'/insert_vul/',
                type:'post',
                data:{'vul_name':vul_name, 'vul_desc':vul_desc, 'csrfmiddlewaretoken': csrftoken},
                dataType:'json',
                //回调函数

                success:function (data) {

                    if (data.res === 2){
                        $('#errmsg').show().html('请输入信息！！')

                    }else if(data.res === 1){

                        $('#errmsg').show().html('插入'+ data.vul_name + '成功!')
                    }else{
                        $('#errmsg').show().html('插入失败！')
                    }}})})})
</script>

        <style>
        #center{
            text-align: center;
            }
        </style>
</head>

<body id = center>
<h1>Xss Injection</h1>
<h3>Hello {{ username }} ,<a href="/logout/">注销用户</a></h3>
<div style="text-align: center;">
    <h2>插入一条漏洞信息:</h2>
    <input type="text" id="vul_name" placeholder=" 漏洞名称：">
    <input type="text" id="vul_desc" placeholder="漏洞描述：">
    <input type="button" id="insert_vul" value="确定">
    <div id="errmsg"></div>
</div>
<div style="text-align: center;">
    <h2><input type="button" id="query_vul" value="查询漏洞信息" onclick="location.href = '/query_vul'"></h2>
</div>
<table border="1" style="margin: auto;" width=’60%’>
    <!-- 表格标题 -->
    <caption>漏洞信息</caption>
    <thread>
    <tr>
        <th>漏洞编号</th>
        <th>漏洞名称</th>
        <th>漏洞描述</th>
    </tr>
    </thread>
    <tbody>
    {% for vul in vul_list %}
    <tr>
        <td>{{ vul.vul_id }}</td>
        <td>{{ vul.vul_name}}</td>
        <td>{{ vul.vul_desc }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% csrf_token %}
</body>
</html>